:root {
    --yellow-100: #F1E9C9;
    --yellow-300: #DBAC2C;
    --yellow-400: #C47F17;
    --purple-100: #EBE5F9;
    --purple-300: #8047F8;
    --purple-400: #4B2995;
    
    --base-hover: #D7D5D5;
    --base-label: #8D8686;
    --base-text: #574F4D;
    --base-subtitle: #403937; 
    --base-title: #272221;
    
    --white: #FFFF;
    --background: #FAFAFA;
    --base-card: #F3F2F2;
    --base-input: #EDEDED;
    --base-button: #E6E5E5;
}

/* :focus {
    outline: transparent;
    box-shadow: 0 0 0 2px var(--green-500);
} */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: var(--background);
    color: var(--base-text);
    -webkit-font-smoothing: antialiased;
}

body, input, textarea, button {
    font-family: 'Baloo 2', sans-serif;
    font-weight: 400;
    font-size: 1rem;
}